.techstack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.section-heading{
    font-size: 2rem;
    font-weight: 600;
}

.techstack__card {
    background: var(--light-color-1);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.techstack__grid {
    margin: 1.95rem 0 3.12rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.85rem;
    max-width: 600px;
}

.techstack__item {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
}

.techstack__icon {
    width: 64%;
    height: 64%;
}

.techstack__footnote {
    font-size: 1.2rem;
    text-align: right;
}

@media (max-width: 480px) {
    .techstack__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}